<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293023097230-q6t4eoqlov8e70csl7rt59vindeoi90u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293023097230-q6t4eoqlov8e70csl7rt59vindeoi90u</string>
	<key>API_KEY</key>
	<string>AIzaSyAISh1DsypX_dkWAZo3vpl8FtSYza6qFQM</string>
	<key>GCM_SENDER_ID</key>
	<string>293023097230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharkda.lemon101</string>
	<key>PROJECT_ID</key>
	<string>lemon-ebc35</string>
	<key>STORAGE_BUCKET</key>
	<string>lemon-ebc35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293023097230:ios:0c9bdb5ada5416b61304df</string>
</dict>
</plist>